* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.6;
}

#header {
  position: fixed;
  z-index: 10;
  width: 70%;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-between;
  padding-left: 169px;
  padding-right: 422px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  background-color: white;
  box-shadow: -3px -2px 9px 0px #434343;
}
#header i {
  display: none;
}
#header .logo img {
  width: 50%;
}
#header span {
  font-size: 2vh;
}
#header .headCenter {
  width: 50%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#header .headCenter #wrong {
  display: none;
}
#header .headCenter #wrong:hover {
  cursor: pointer;
}
#header .headCenter a {
  font-size: 2vh;
  color: black;
  text-decoration: none;
}
#header .headCenter a:hover {
  color: #434343;
}
#header .headCenter button {
  height: 23px;
  /* padding: 2vh; */
  border-radius: 25px;
  padding-left: 2vh;
  padding-right: 2vh;
  /* padding-bottom: 2vh; */
  font-size: 2vh;
  border: 1px solid;
  text-align: center;
  background-color: white;
  margin-left: 10px;
}
#header .headCenter button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#header .login a {
  font-size: 2vh;
  color: black;
  text-decoration: none;
}

.leftRight {
  display: flex;
}

#topLayer {
  position: relative;
}

.left {
  padding: 15vh 0px 0px 18vh;
  position: relative;
}
.left .linkedinBox {
  border: 1px solid;
  padding: 1.3vh;
  width: 32vh;
  border-radius: 9px;
}
.left .linkedinBox img {
  width: 29vh;
}
.left h1 {
  font-size: 7.5vh;
  font-weight: 500;
  margin: 2vh 0 2vh 0;
}
.left p {
  font-size: 3vh;
  margin-bottom: 4vh;
}
.left button {
  height: 33px;
  width: 145px;
  border-radius: 25px;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 2.5vh;
  border: 1px solid;
  text-align: center;
  background-color: white;
}
.left button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.left .one {
  font-weight: 700;
  font-size: 10vh;
  background-image: url(https://assets.website-files.com/624194472db3153002097068/624835960d042904335bf96e_Vector%20115.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: contain;
}

.leftRight {
  overflow: hidden;
  height: 73vh;
}

.right {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0px 20px 0px 20px;
}
.right .person {
  position: absolute;
  top: calc(var(--i) * 10);
  left: calc(var(--r) * 30);
}
.right .box1 {
  height: 19vh;
  width: 20vh;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid black;
}
.right .box1 img {
  height: 27vh;
}
.right .box1box {
  border: 1px solid black;
  border-radius: 20px;
  width: 11vh;
  height: 3vh;
  margin: left;
  margin-left: 25px;
  margin-top: -12px;
  position: absolute;
  background: rgb(255, 255, 255);
  text-align: center;
}
.right .box1box span {
  font-size: 2vh;
}

#middleLayer {
  padding: 0 12vh 0 22vh;
}
#middleLayer .box2 {
  height: 14vh;
  width: 16vh;
  overflow: hidden;
  border-radius: 9px;
  border: 1px solid black;
}
#middleLayer .box2 img {
  height: 22vh;
}
#middleLayer .box1box span img {
  height: -webkit-fill-available;
}

#bottomLayer {
  padding: 0 12vh 0 22vh;
}
#bottomLayer .box2 {
  height: 11vh;
  width: 12vh;
  overflow: hidden;
  border-radius: 9px;
  border: 1px solid black;
}
#bottomLayer .box2 img {
  height: 14vh;
}
#bottomLayer .box1box span img {
  padding: 2px;
  height: 2vh;
}

#seconPage {
  padding: 8vh 0 0 31vh;
}
#seconPage .second p {
  margin: 2vh 0 2vh 0;
  font-size: 2vh;
  font-weight: 100;
}
#seconPage .rating {
  width: 143vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#seconPage .rating div h1 {
  font-size: 8vh;
  background-image: url(https://assets.website-files.com/624194472db3153002097068/624835960d042904335bf96e_Vector%20115.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: contain;
  margin: 7vh 0 3vh 0;
}
#seconPage .rating div p {
  font-size: 2.5vh;
  font-weight: 300;
  text-align: center;
}

.videotab {
  display: flex;
  margin-top: 15vh;
}
.videotab .video {
  width: 49vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  margin-left: 8vh;
}
.videotab .video1 {
  width: 49vh;
  height: 50vh;
  border: 1px solid black;
  position: absolute;
  border-radius: 25px;
  transform: rotate(99deg);
  margin-left: 8vh;
}
.videotab video {
  height: 53vh;
}
.videotab .icon {
  margin-left: 20vh;
}
.videotab .icon div {
  margin-bottom: 3vh;
  display: flex;
}
.videotab .icon div img {
  height: 9vh;
  margin: 3vh;
}
.videotab .icon div span {
  font-size: 2.5vh;
  font-weight: 100;
}
.videotab .icon div h3 {
  font-size: 3vh;
}

#mentors .carousel {
  padding: 10vh 18vh 10vh 33vh;
  margin-top: 8vh;
  background-color: #030a21;
  height: 63vh;
}
#mentors .carousel .heading {
  display: flex;
  justify-content: space-between;
}
#mentors h1 {
  color: #dedede;
}
#mentors button {
  height: 7vh;
  width: 22vh;
  border-radius: 20px;
  background-color: #030a21;
  border: 1px solid white;
  color: white;
}
#mentors button:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#mentors .imagesMentor {
  display: flex;
  align-items: center;
  margin-top: 7vh;
}
#mentors .imagesMentor button {
  height: 7vh;
  width: 7vh;
  margin-left: 2vh;
}
#mentors .slides {
  display: flex;
  width: 651px;
  overflow: hidden;
}
#mentors .slides #mainSlide {
  display: flex;
}
#mentors .slides .mentorName {
  position: relative;
  background-color: aliceblue;
  width: 26vh;
  border-radius: 20px;
  margin-left: 19px;
  margin-top: -56px;
  text-align: center;
}
#mentors .slides .mentorName span {
  font-size: 2vh;
}
#mentors .slides .mentor1 {
  height: 48vh;
  width: 30vh;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 2vh;
}
#mentors .slides .mentor1 img {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand {
  width: 100%;
  text-align: center;
  background-color: #030a21;
  padding: 40px 0 15px 0;
  overflow: hidden;
}
.brand h3 {
  color: white;
}
.brand p {
  color: white;
  font-size: 2.5vh;
  font-weight: 200;
}
.brand #brandNames {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 200%;
}
.brand #brandNames .track {
  width: 80%;
  display: flex;
}
.brand #brandNames img {
  width: 10vh;
  margin-top: 30px;
  margin-left: 83px;
}
.brand #brandNames1 {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 200%;
}
.brand #brandNames1 .track1 {
  width: 80%;
  display: flex;
}
.brand #brandNames1 img {
  width: 10vh;
  margin-top: 30px;
  margin-left: 83px;
}

#feedBack {
  margin: 10vh 0vh 0 41vh;
}
#feedBack p {
  font-size: 1.8vh;
}
#feedBack .feedBackContainer {
  margin-top: 43px;
  display: flex;
  height: 1067px;
  padding-bottom: 50px;
}
#feedBack .feedBackContainer .fb2 {
  width: 25%;
  border: 1px solid black;
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 2vh;
}
#feedBack .feedBackContainer .fb2 .video {
  width: -webkit-fill-available;
  height: 39vh;
  overflow: hidden;
}
#feedBack .feedBackContainer .fb2 .video img {
  width: -webkit-fill-available;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#feedBack .feedBackContainer .fb2 hr {
  border-top: 2px dotted;
  margin: 3vh 0;
}
#feedBack .feedBackContainer .fb2 .content {
  padding-top: 2vh;
}
#feedBack .feedBackContainer .fb2 .user {
  display: flex;
  align-items: center;
  padding: 4vh;
}
#feedBack .feedBackContainer .fb2 .user .profile {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}
#feedBack .feedBackContainer .fb2 .user .profile img {
  width: -webkit-fill-available;
}
#feedBack .feedBackContainer .fb2 .user .profileName h3 {
  font-size: 3vh;
  margin-left: 2vh;
}
#feedBack .feedBackContainer .fb1 {
  width: 22%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 2vh;
}
#feedBack .feedBackContainer .fb1 .video {
  width: -webkit-fill-available;
  height: 39vh;
  overflow: hidden;
}
#feedBack .feedBackContainer .fb1 .video img {
  width: -webkit-fill-available;
  border-radius: 20px;
}
#feedBack .feedBackContainer .fb1 hr {
  border-top: 2px dotted;
  margin: 3vh 0;
}
#feedBack .feedBackContainer .fb1 .content {
  padding-top: 2vh;
}
#feedBack .feedBackContainer .fb1 .user {
  display: flex;
  align-items: center;
}
#feedBack .feedBackContainer .fb1 .user .profile {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}
#feedBack .feedBackContainer .fb1 .user .profile img {
  width: -webkit-fill-available;
}
#feedBack .feedBackContainer .fb1 .user .profileName h3 {
  font-size: 3vh;
  margin-left: 2vh;
}

.feedBackContainer {
  position: relative;
}
.feedBackContainer .div1 {
  position: absolute;
}
.feedBackContainer .div2 {
  position: absolute;
  right: 81.5vh;
}
.feedBackContainer .div3 {
  position: absolute;
  right: 35vh;
}
.feedBackContainer .div4 {
  position: absolute;
  top: 338px;
}
.feedBackContainer .div5 {
  position: absolute;
  left: 237px;
  top: 268px;
}
.feedBackContainer .div6 {
  position: absolute;
  right: 170px;
  top: 283px;
}
.feedBackContainer .div7 {
  position: absolute;
  top: 576px;
}
.feedBackContainer .div8 {
  position: absolute;
  top: 493px;
  right: 411px;
}
.feedBackContainer .div9 {
  position: absolute;
  top: 524px;
  left: 476px;
}
.feedBackContainer .div10 {
  position: absolute;
  top: 776px;
  left: 235px;
}

#twolakh {
  overflow: hidden;
  background-color: #030a21;
  height: -webkit-fill-available;
  position: relative;
}
#twolakh h1 {
  text-align: center;
  background: linear-gradient(#0ec0ba, #2bcfb3, #78fdca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110px;
}
#twolakh p {
  margin-top: 55vh;
  font-size: 1.8vh;
  color: white;
  text-align: center;
}

#topRow {
  display: flex;
  position: absolute;
  /* top: 20000000000000px; */
  top: 124px;
}
#topRow .p1 {
  width: 17vh;
  height: 16vh;
  border-radius: 12px;
  border: 2px solid white;
  margin-right: 40px;
}
#topRow .p1 img {
  border-radius: 20px;
  width: -webkit-fill-available;
}
#topRow .p1 .work {
  margin-left: 9px;
  width: 68px;
  height: 27px;
  border-radius: 25px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topRow .p1 .work img {
  width: 80%;
}

#topRow1 {
  display: flex;
  position: absolute;
  /* top: 20000000000000px; */
  top: 124px;
}
#topRow1 .p1 {
  width: 17vh;
  height: 16vh;
  border-radius: 12px;
  border: 2px solid white;
  margin-right: 40px;
}
#topRow1 .p1 img {
  border-radius: 20px;
  width: -webkit-fill-available;
}
#topRow1 .p1 .work {
  margin-left: 9px;
  width: 68px;
  height: 27px;
  border-radius: 25px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topRow1 .p1 .work img {
  width: 80%;
}

#mobile {
  margin: 10vh 20vh 10vh 30vh;
}
#mobile h1 {
  font-size: 5vh;
}
#mobile p {
  font-size: 1.8vh;
}
#mobile .mobilePic {
  display: flex;
  position: relative;
  align-items: center;
}
#mobile .mobilePic .mobImg {
  display: inline;
  width: 40%;
  margin-left: 19vh;
  margin-top: 7vh;
}
#mobile .mobilePic .mobBg {
  position: absolute;
  left: 72px;
  top: 30px;
  width: 27%;
  z-index: -1;
}
#mobile .list1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile .list1 h1 {
  font-size: 3.5vh;
  margin: 2vh 0vh;
}
#mobile .list1 .number {
  margin-right: 2vh;
}
#mobile .list1 .number h1 {
  font-size: 13vh;
  -webkit-text-stroke: 0.5px black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#mobile .list2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile .list2 h1 {
  font-size: 3.5vh;
  margin: 2vh 0vh;
}
#mobile .list2 .number {
  margin-right: 2vh;
}
#mobile .list2 .number h1 {
  font-size: 13vh;
  -webkit-text-stroke: 0.5px black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#mobile .list3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile .list3 h1 {
  font-size: 3.5vh;
  margin: 2vh 0vh;
}
#mobile .list3 .number {
  margin-right: 2vh;
}
#mobile .list3 .number h1 {
  font-size: 13vh;
  -webkit-text-stroke: 0.5px black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.feature {
  text-align: center;
  font-size: 5vh;
  margin: 6vh 0;
}

.mobileLogo {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
  margin: 0 15%;
  display: flex;
}
.mobileLogo img {
  width: 10%;
}

#Footer {
  background-color: #030a21;
  margin: 5vh 0 0 0;
  padding-bottom: 7vh;
}
#Footer h1 {
  color: white;
  text-align: center;
  padding: 5vh;
}
#Footer .FooterLogo {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: flex-start;
  padding: 6vh 27vh;
}
#Footer .FooterLogo img {
  width: 37vh;
  margin-left: 9vh;
  margin-right: 12vh;
}
#Footer .FooterLogo hr {
  height: 132px;
  opacity: 50%;
}
#Footer .footerMentors {
  padding: 0vh 9vh;
}
#Footer .footerMentors p {
  color: white;
  font-size: 2.5vh;
  text-align: center;
  margin: 2vh 0;
}
#Footer .footerMentors .footerMentorsPic {
  display: flex;
  margin: 4vh 0;
}
#Footer .footerMentors .footerMentorsPic img {
  width: 7vh;
  height: 7vh;
  margin: 0;
  margin-left: -2vh;
  border-radius: 50%;
  border: 2px solid white;
}
#Footer .footerMentors .manyMore {
  border-radius: 20px;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-size: 2vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2vh 5vh;
  margin-left: 7vh;
}
#Footer .footerMentors .manyMore:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
#Footer .footerWords {
  display: flex;
  padding: 0 0vh 0 39vh;
}
#Footer .footerWords h1 {
  font-size: 3vh;
  font-weight: 500;
  margin: 2vh 0;
  padding: 0;
  text-align: start;
}
#Footer .footerWords p {
  color: rgb(177, 177, 177);
  font-size: 2vh;
  font-weight: 100;
  line-height: 1.6;
  margin: 2vh 0;
}
#Footer .footerWords div {
  margin-right: 11vh;
}
#Footer .footerWords .sub form {
  display: flex;
  margin: 2vh 0;
}
#Footer .footerWords .sub form input {
  width: -webkit-fill-available;
  height: 6vh;
  border-radius: 20px;
  border: none;
}
#Footer .footerWords .sub form button {
  border-radius: 50%;
  width: 6vh;
  margin-left: -30px;
  color: white;
  background-color: #030a21;
  border: 1px solid white;
}
#Footer .footerWords .sub form button:hover {
  background-color: white;
  color: #030a21;
  border: 1px solid #030a21;
  cursor: pointer;
}
#Footer .footerWords .sub img {
  width: 3vh;
  margin-right: 3vh;
}
#Footer .footerWords .more img {
  width: 17vh;
}

@media screen and (max-width: 600px) {
  body {
    line-height: 0;
    max-width: 600px;
  }
  #header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 48px;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    align-content: flex-end;
    /* justify-content: space-between; */
    padding-left: 19px;
    padding-right: 169px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: white;
    box-shadow: -3px -2px 9px 0px #434343;
  }
  #header i {
    display: block;
    margin-right: -291px;
  }
  #header i:hover {
    cursor: pointer;
  }
  #header .logo img {
    width: 100%;
  }
  #header .headCenter {
    display: none;
    width: 0%;
    /* text-align: end; */
    position: absolute;
    height: -webkit-fill-available;
    background-color: aliceblue;
    left: 462px;
    top: 66px;
  }
  #header .headCenter #wrong {
    display: block;
  }
  #header .headCenter button {
    height: 23px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    /* padding: 2vh; */
    border-radius: 25px;
    padding-left: 2vh;
    padding-right: 2vh;
    /* padding-bottom: 2vh; */
    font-size: 2vh;
    border: 1px solid;
    text-align: center;
    background-color: white;
    margin: 0;
  }
  #header .headCenter a {
    display: inline-table;
    font-size: 2vh;
    color: black;
    padding: 2vh;
    text-decoration: none;
    background-color: #ffffff;
    width: 100;
  }
  #header .login {
    text-align: end;
  }
  #header .login span {
    font-size: 2vh;
    display: block;
    padding: right;
    padding-right: 22px;
  }
  #header .login button {
    height: 23px;
    /* padding: 2vh; */
    border-radius: 25px;
    padding-left: 2vh;
    padding-right: 2vh;
    /* padding-bottom: 2vh; */
    font-size: 2vh;
    border: 1px solid;
    text-align: center;
    background-color: white;
    margin-right: 21px;
  }
  .leftRight {
    display: flex;
    flex-direction: column;
    height: 494px;
  }
  .leftRight .right {
    display: flex;
    margin: 2vh 0vh;
  }
  .leftRight .right div {
    position: relative;
  }
  .leftRight .left {
    padding: 15vh 0px 0px 6vh;
    position: relative;
  }
  .leftRight .left h1 {
    font-size: 7vh;
    font-weight: 500;
    margin: 8vh 0 2vh 0;
    line-height: 0;
  }
  .leftRight .left p {
    font-size: 3vh;
    margin-bottom: 4vh;
  }
  .leftRight .left .linkedinBox {
    border: 1px solid;
    padding: 1.3vh;
    width: 24vh;
    border-radius: 9px;
  }
  .leftRight .left .linkedinBox img {
    width: 23vh;
  }
  #seconPage {
    padding: 8vh 0 0 8vh;
  }
  #seconPage .rating {
    display: grid;
    -moz-column-gap: 171px;
         column-gap: 171px;
    grid-template-columns: auto auto;
    justify-content: start;
  }
  #seconPage .rating div h1 {
    font-size: 10vh;
  }
  #seconPage .rating div p {
    font-weight: 500;
  }
  .videotab .video1 {
    margin: 0;
  }
  .videotab .video {
    width: 100%;
    height: 51vh;
    overflow: hidden;
    border-radius: 43px;
    position: relative;
    margin: 0;
  }
  .videotab .video video {
    height: 64vh;
  }
  .videotab .icon {
    margin: 0;
  }
  .videotab .icon div span {
    font-size: 2vh;
  }
  #feedBack {
    margin: 10vh 18vh 0 6vh;
  }
  #feedBack .feedBackContainer {
    margin-top: 43px;
    display: flex;
    height: 1371px;
    padding-bottom: 50px;
  }
  #feedBack .feedBackContainer .fb1 {
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 2vh;
  }
  #feedBack .feedBackContainer .fb2 {
    width: 55%;
    border: 1px solid black;
    border-radius: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 2vh;
  }
  #feedBack .feedBackContainer .div1 {
    position: absolute;
    top: 0;
    left: -4vh;
  }
  #feedBack .feedBackContainer .div2 {
    position: absolute;
    right: -12.5vh;
  }
  #feedBack .feedBackContainer .div3 {
    position: absolute;
    right: 43vh;
    top: 63vh;
  }
  #feedBack .feedBackContainer .div4 {
    position: absolute;
    top: 255px;
    left: 51vh;
  }
  #feedBack .feedBackContainer .div5 {
    position: absolute;
    left: 256px;
    top: 477px;
  }
  #feedBack .feedBackContainer .div6 {
    position: absolute;
    right: 214px;
    top: 602px;
  }
  #feedBack .feedBackContainer .div7 {
    position: absolute;
    top: 824px;
    left: -3vh;
  }
  #feedBack .feedBackContainer .div8 {
    position: absolute;
    top: 1105px;
    right: 217px;
  }
  #feedBack .feedBackContainer .div9 {
    position: absolute;
    top: 957px;
    left: 255px;
  }
  #feedBack .feedBackContainer .div10 {
    position: absolute;
    top: 687px;
    left: 256px;
  }
  #mobile {
    margin: 7vh -1vh -3vh 4vh;
  }
  #mobile .mobilePic {
    display: flex;
    position: relative;
    margin-top: 21px;
  }
  #mobile .mobilePic .mobImg {
    display: inline;
    width: 117px;
    margin-left: 10vh;
    margin-top: 7vh;
  }
  #mobile .mobilePic .mobBg {
    position: absolute;
    left: 34px;
    top: 30px;
    width: 27%;
    z-index: -1;
  }
  #mobile .mobilePic .mobilePicDiv {
    width: 50%;
  }
  #mobile .list1 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .list1 .number {
    margin-right: 2vh;
  }
  #mobile .list1 .number h1 {
    font-size: 10vh;
  }
  #mobile .list1 h1 {
    font-size: 2.5vh;
    margin: 2vh 0vh;
  }
  #mobile .list1 p {
    font-size: 1.7vh;
  }
  #mobile .list2 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .list2 .number {
    margin-right: 2vh;
  }
  #mobile .list2 .number h1 {
    font-size: 10vh;
  }
  #mobile .list2 h1 {
    font-size: 2.5vh;
    margin: 2vh 0vh;
  }
  #mobile .list2 p {
    font-size: 1.7vh;
  }
  #mobile .list3 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .list3 .number {
    margin-right: 2vh;
  }
  #mobile .list3 .number h1 {
    font-size: 10vh;
  }
  #mobile .list3 h1 {
    font-size: 2.5vh;
    margin: 2vh 0vh;
  }
  #mobile .list3 p {
    font-size: 1.7vh;
  }
  #Footer {
    background-color: #030a21;
    margin: 7vh 0 0 0;
    padding-bottom: 0vh;
  }
  #Footer .FooterLogo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: space-around;
    justify-content: flex-start;
    padding: 2vh 0vh;
  }
  #Footer .footerMentors {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
  }
  #Footer .footerMentors .footerMentorsPic {
    display: flex;
    margin: 4vh 37vh;
  }
  #Footer .footerMentors .manyMore {
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 2vh;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 2vh 5vh;
    margin-left: 42vh;
  }
  #Footer .footerWords {
    display: flex;
    margin-bottom: 20px;
    padding: 0 0vh 0 4vh;
    flex-direction: column;
    align-items: flex-start;
  }
  #Footer .footerWords div {
    margin-bottom: 4vh;
  }
  #mentors .carousel {
    padding: 10vh 18vh 10vh 10vh;
  }
  #mentors .imagesMentor {
    display: flex;
    align-items: center;
    margin-top: 7vh;
    margin-left: 7vh;
  }
  #mentors .slides {
    display: flex;
    width: 330px;
    overflow: hidden;
  }
  #mentors .slides #mainSlide {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  body {
    line-height: 0;
    max-width: 600px;
  }
  #header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 48px;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    align-content: flex-end;
    /* justify-content: space-between; */
    padding-left: 19px;
    padding-right: 169px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: white;
    box-shadow: -3px -2px 9px 0px #434343;
  }
  #header i {
    display: block;
    margin-right: -79px;
  }
  #header i:hover {
    cursor: pointer;
  }
  #header .logo img {
    width: 50%;
  }
  #header .headCenter {
    display: none;
    width: 0%;
    /* text-align: end; */
    position: absolute;
    height: -webkit-fill-available;
    background-color: aliceblue;
    left: 462px;
    top: 66px;
  }
  #header .headCenter #wrong {
    display: block;
  }
  #header .headCenter button {
    height: 23px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    /* padding: 2vh; */
    border-radius: 25px;
    padding-left: 2vh;
    padding-right: 2vh;
    /* padding-bottom: 2vh; */
    font-size: 2vh;
    border: 1px solid;
    text-align: center;
    background-color: white;
    margin: 0;
  }
  #header .headCenter a {
    display: inline-table;
    font-size: 2vh;
    color: black;
    padding: 2vh;
    text-decoration: none;
    background-color: #ffffff;
    width: 100;
  }
  #header .login {
    text-align: end;
  }
  #header .login span {
    font-size: 2vh;
    display: block;
    padding: right;
    padding-right: 22px;
  }
  #header .login button {
    height: 23px;
    /* padding: 2vh; */
    border-radius: 25px;
    padding-left: 2vh;
    padding-right: 2vh;
    /* padding-bottom: 2vh; */
    font-size: 2vh;
    border: 1px solid;
    text-align: center;
    background-color: white;
    margin-right: 21px;
  }
  .leftRight {
    display: flex;
    flex-direction: column;
    height: 494px;
  }
  .leftRight .right {
    display: flex;
    margin: 2vh 0vh;
  }
  .leftRight .right div {
    padding: 0;
  }
  .leftRight .right #bottomLayer {
    padding: 0;
  }
  .leftRight .right #middleLayer {
    padding: 0;
  }
  .leftRight .right div {
    position: relative;
    padding: 0;
  }
  .leftRight .left {
    padding: 15vh 0px 0px 6vh;
    position: relative;
  }
  .leftRight .left h1 {
    font-size: 5vh;
    font-weight: 500;
    margin: 8vh 0 2vh 0;
    line-height: 0;
  }
  .leftRight .left p {
    font-size: 2vh;
    margin-bottom: 4vh;
  }
  .leftRight .left .linkedinBox {
    border: 1px solid;
    padding: 1.3vh;
    width: 24vh;
    border-radius: 9px;
  }
  .leftRight .left .linkedinBox img {
    width: 23vh;
  }
  #seconPage {
    padding: 8vh 0 0 5vh;
  }
  #seconPage .rating {
    display: grid;
    -moz-column-gap: 14px;
         column-gap: 14px;
    grid-template-columns: auto auto;
    justify-content: start;
  }
  #seconPage .rating div h1 {
    font-size: 8vh;
  }
  #seconPage .rating div p {
    font-weight: 500;
  }
  .videotab {
    display: grid;
    margin-top: 15vh;
  }
  .videotab .video1 {
    margin: 0;
  }
  .videotab .video {
    width: 100%;
    height: 51vh;
    overflow: hidden;
    border-radius: 43px;
    position: relative;
    margin: 0;
  }
  .videotab .video video {
    height: 64vh;
  }
  .videotab .icon {
    margin: 0;
    margin-top: 36px;
  }
  .videotab .icon div span {
    font-size: 2vh;
  }
  #feedBack {
    margin: 10vh 18vh 0 6vh;
  }
  #feedBack .feedBackContainer {
    margin-top: 43px;
    display: grid;
    grid-template-columns: auto;
    height: 1699px;
    padding-bottom: 50px;
  }
  #feedBack .feedBackContainer div {
    position: relative;
  }
  #feedBack .feedBackContainer .fb1 {
    width: 180px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 0vh;
    position: initial;
    margin-top: 20px;
  }
  #feedBack .feedBackContainer .fb2 {
    width: 30%;
    border: 1px solid black;
    border-radius: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    margin-left: 214px;
    margin-top: 20px;
    top: 0vh;
  }
  #twolakh h1 {
    font-size: 50px;
  }
  #twolakh p {
    margin-top: 67vh;
  }
  #mobile {
    margin: 7vh -1vh -3vh 4vh;
  }
  #mobile .mobilePic {
    display: grid;
    position: relative;
    margin-top: 21px;
  }
  #mobile .mobilePic .mobImg {
    display: inline;
    width: 117px;
    margin-left: 10vh;
    margin-top: 7vh;
  }
  #mobile .mobilePic .mobBg {
    position: absolute;
    left: 56px;
    top: 24px;
    width: 55%;
    z-index: -1;
  }
  #mobile .mobilePic .mobilePicDiv {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .lists {
    width: 250px;
    margin-top: 20px;
  }
  #mobile .list1 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .list1 .number {
    margin-right: 2vh;
  }
  #mobile .list1 .number h1 {
    font-size: 10vh;
  }
  #mobile .list1 h1 {
    font-size: 2.5vh;
    margin: 2vh 0vh;
  }
  #mobile .list1 p {
    font-size: 1.7vh;
  }
  #mobile .list2 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .list2 .number {
    margin-right: 2vh;
  }
  #mobile .list2 .number h1 {
    font-size: 10vh;
  }
  #mobile .list2 h1 {
    font-size: 2.5vh;
    margin: 2vh 0vh;
  }
  #mobile .list2 p {
    font-size: 1.7vh;
  }
  #mobile .list3 {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile .list3 .number {
    margin-right: 2vh;
  }
  #mobile .list3 .number h1 {
    font-size: 10vh;
  }
  #mobile .list3 h1 {
    font-size: 2.5vh;
    margin: 2vh 0vh;
  }
  #mobile .list3 p {
    font-size: 1.7vh;
  }
  .mobileLogo {
    margin: 0;
  }
  .mobileLogo img {
    width: 10%;
  }
  #Footer {
    background-color: #030a21;
    margin: 7vh 0 0 0;
    padding-bottom: 0vh;
  }
  #Footer .FooterLogo {
    display: block;
    padding: 2vh 0vh;
  }
  #Footer .FooterLogo img {
    width: 26vh;
    margin-left: 16vh;
    margin-right: 1vh;
    margin-bottom: 37px;
  }
  #Footer .footerMentors {
    padding: 0;
  }
  #Footer .footerMentors .footerMentorsPic {
    display: flex;
    margin: 4vh 15vh;
  }
  #Footer .footerMentors .manyMore {
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 2vh;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 2vh 5vh;
    margin-left: 20vh;
  }
  #Footer .footerWords {
    display: flex;
    margin-bottom: 20px;
    padding: 0 0vh 0 4vh;
    flex-direction: column;
    align-items: flex-start;
  }
  #Footer .footerWords div {
    margin-bottom: 4vh;
  }
  #mentors .carousel {
    padding: 11vh 18vh 10vh 7vh;
  }
  #mentors .carousel .heading {
    display: grid;
  }
  #mentors .carousel .heading button {
    width: 22vh;
  }
  #mentors .imagesMentor {
    display: flex;
    margin-left: -8vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #mentors .slides {
    display: flex;
    width: 169px;
    overflow: hidden;
  }
  #mentors .slides #mainSlide {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */